
aside.side-navbar a {
    color: black;
}
aside.side-navbar a:hover {
    color: black;
    text-decoration: none;
}

aside.side-navbar a div{

    transition: background-color 0.3s;

    &:hover{
        background-color: lightgrey;
    }

}

textarea:focus, input:focus{
    outline: none !important;
}


