<div class="col-7 mt-3">
    
      <h2>Set your Username</h2>

      <%= form_with model: current_user, url: username_path(current_user) do |f| %>

        <div class="field mb-3">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Set Username", class: "btn btn-primary" %>
        </div>
      <% end %>
    
</div>

<div class="col">
    Column 3
</div>
